/* You can add global styles to this file, and also import other style files */

/* Hide LeptonX sidebar completely */
.lpx-sidebar,
.lpx-sidebar-container,
.lpx-brand-container,
lpx-navbar,
.lpx-nav-menu {
  display: none !important;
}

/* Make main content full width */
.lpx-content-container,
.lpx-main-container {
  margin-left: 0 !important;
  padding-left: 0 !important;
  width: 100% !important;
}

.lpx-content {
  margin-left: 0 !important;
}

/* Hide mobile menu toggle */
.lpx-mobile-sidebar-toggle,
.lpx-sidebar-toggle {
  display: none !important;
}

/* Hide LeptonX footer bar */
.lpx-footer,
lpx-footer,
.lpx-footer-container {
  display: none !important;
}

/* Hide LeptonX topbar since we have custom nav */
.lpx-topbar,
lpx-topbar,
.lpx-topbar-container,
.lpx-header {
  display: none !important;
}

/* Adjust content to account for custom nav */
.lpx-scroll-container {
  padding-top: 0 !important;
}

/* RTL Support - ensure full width and proper margins */
[dir="rtl"] {
  .lpx-content-container,
  .lpx-main-container {
    margin-right: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
  
  .lpx-content {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

/* Ensure body and html take full width */
html, body {
  width: 100%;
  overflow-x: hidden;
}

:root {
  --lpx-theme-light-bg: url('assets/images/login/login-bg-img-light.svg');
  --lpx-theme-dim-bg: url('assets/images/login/login-bg-img-dim.svg');
  --lpx-theme-dark-bg: url('assets/images/login/login-bg-img-dark.svg');

  --lpx-logo-icon: url('assets/images/logo/icon-lite.svg');
  --lpx-logo-url: var(--lpx-logo-icon);
  --lpx-logo: var(--lpx-logo-icon);

  .abp-logo {
    background-repeat: no-repeat;
  }

  .abp-support {
    width: 178px;
    height: 30px;
    background-image: url('assets/images/getting-started/abp-support.svg');
  }

  .abp-community {
    width: 215px;
    height: 30px;
    background-image: url('assets/images/getting-started/abp-community.svg');
  }

  .abp-blog {
    width: 142px;
    height: 30px;
    background-image: url('assets/images/getting-started/abp-blog.svg');
  }

  .logo-x {
    width: 20px;
    height: 20px;
    background-image: url('assets/images/getting-started/x.svg');
  }
}
